@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --app-bg: theme('colors.app-bg.light');
    --app-card: theme('colors.app-card.light');
  }
  
  .dark {
    --app-bg: theme('colors.app-bg.dark');
    --app-card: theme('colors.app-card.dark');
  }
}

@layer components {
  .btn {
    @apply font-semibold py-2 px-4 rounded-lg shadow-md;
  }

  .btn-primary {
    @apply bg-blue-500 text-white hover:bg-blue-600 focus:ring-blue-300 text-center;
  }

  .btn-secondary {
    @apply bg-gray-200 text-gray-700 hover:bg-gray-300 focus:ring-gray-300 text-center;
  }

  .btn-tertiary {
    @apply bg-green-500 text-white hover:bg-green-600 focus:ring-green-300 text-center;
  }

  .btn-danger {
    @apply bg-red-500 text-white hover:bg-red-600 text-center;
  }

  .form-input {
    @apply text-gray-700 dark:text-white dark:bg-slate-800 w-full px-3 py-2 border border-gray-400 rounded focus:outline-none focus:ring focus:ring-blue-200 placeholder-slate-400;
  }
  
  .form-item-heading {
    @apply block text-gray-700 dark:text-white font-bold mb-2;
  }
  
  .app-bg {
    @apply bg-[var(--app-bg)];
  }
  
  .app-card {
    @apply bg-[var(--app-card)];
  }  
}

@layer utilities {
  .gradient-text-blue {
    @apply bg-gradient-to-r from-cyan-400 to-blue-600 text-transparent bg-clip-text w-fit;
  }
  .gradient-text-green {
    @apply bg-gradient-to-r from-lime-400 to-green-600 text-transparent bg-clip-text w-fit;
  }
  .gradient-text-apple {
    @apply bg-gradient-to-r text-transparent bg-clip-text w-fit;
    background-image: linear-gradient(
      to right,
      #4DA6FF,
      #7D7AFF,
      #FF77A9,
      #FFA759
    );
  }
} 